
<section class="hero">

    
    <div class="hero-content">
        <!-- <h1>Your Reliable Service Partner</h1>
        <p>Providing top-notch services tailored to your needs</p> -->
        <h1>Welcome to ABRASA SOLUTIONS!</h1>
        <button>Ge Started</button>
        <!-- <div class="inquiry-form-container">
            <form (ngSubmit)="onSubmit()" #inquiryForm="ngForm">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name"
                    class="form-control" name="name"
                    [(ngModel)]="inquiryData.name" required/> 
        
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email"
                    class="form-control" name="email"
                    [(ngModel)]="inquiryData.email" required/> 
        
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea type="message" id="message"
                    class="form-control" name="message"
                    [(ngModel)]="inquiryData.message" required></textarea> 
        
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!inquiryForm.form.valid">submit</button>
        
            </form>
           </div> -->

           <div class="wpb_wrapper"><div class="seofy_module_spacing"><div class="spacing_size spacing_size-initial" style="height:60px;"></div></div>  
<div id="seofy_dbl_66c8689bca776" class="seofy_module_double_headings acenter "><div class="heading_title" style="font-size:36px; line-height:1.333; font-weight:800; "><span class="heading_divider"></span><div class="heading_title_mobile" style="font-size:33px; line-height: 1.333;"></div></div></div>  
<div class="seofy_module_spacing"><div class="spacing_size spacing_size-initial" style="height:20px;"></div></div>  
<div class="seofy_module_text" style="font-size:18px;line-height:30px;">
<p class="ptagclass" style="text-align: center;"><strong>Abrasa Solutions</strong> is an organization involved in the trainings and consulting services related to various global standards. Company is formed by the personnel having years of rich senior management experience in the field of training , c<span>onsulting</span>, auditing and certification for the global organizations.</p>
</div>  
<div class="seofy_module_text" style="font-size:18px;line-height:30px;">
<p class="ptagclass" style="text-align: center;">Its core activities are trainings againsts the global standards , its implementation , improvement in its effectiveness and to facilitate its certification . Company’s team has excellent command over the system and regulatory requirements needed for the sustained implementation of the global standards such as ISO , BRC , FSSC , HACCP.</p>
<p>&nbsp;</p>
<p style="text-align: center;">The Foundation Food Safety System Certification 22000 (FSSC 22000) offers a certification scheme for auditing of Food Safety Management System. <strong>The FSSC Consultant In Delhi NCR</strong> is providing food safety consultancy to the businesses, that are engaged in this domain. The success rate of our consultancy is very high because we always assure that the client is satisfied with the service.</p>
<p style="text-align: center;">We are delivering the service in this domain for ages, which is the reason why we have gained popularity among the food and beverage companies. We have a team of consultants who are well-versed in the various global standards, and always assure that everything is done according to them.</p>
<p style="text-align: center;">Abrasa Solutions is also famous for the <strong>Food Safety Training In Delhi NCR</strong>. In this, we train the individuals regarding the food safety guidelines, so that they can work accordingly. Our training involves both practical as well as theoretical aspects, which means that the person will learn about everything under our training program.</p>
<p style="text-align: center;">If you are in the food manufacturing or exporting industry, then our food consultancy as well as the food safety training services are highly beneficial for you. We promise you that you won’t be disappointed with us at all, because we are ethical, and always work efficiently to facilitate certification, training, and consultancy to the clients.</p>
<p style="text-align: center;">For more information regarding the same, you can connect with us, and we will assist you according to your query and requirement.</p>
</div>  
<div class="seofy_module_button wgl_button wgl_button-l button_def acenter"><a href="https://www.normesdecodees.com/about-us/" style="border-width:1px; " class="wgl_button_link">Read More</a></div>
<div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
</div>

           
    </div>
</section>
